<!doctype html>
<html lang="en">
<body>
<button type="button" onclick="addItem()">add Item</button>
<script>
  function addItem() {
    location.href = "product/additem";
  }
</script>
</body>
<body>
