body {
	background-image: url("../images/parchment.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}

.ng-invalid.ng-dirty {
	border-color: red;
}

.ng-valid.ng-dirty {
	border-color: green;
}

p.blocktext {
	font: 8px;
	bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10em
}

#globalheader {
    position: relative;
    z-index: 9999;
    min-width: 1010px;
    height: 2.55556em;
    margin: 0 auto 1em;
    background: #999;
    font-size: 18px;
}

#globalheader a {
	color:#FFF;
}

#content {
	padding-bottom: 5%;
	min-height: 87%;
}

#account {
	padding-top: 10%;
}

#footer {
	position:absolute;
	min-width: 1010px;
	width:100%;
	height:5%;
	left:0;
	background:#999;
	border-top:1px solid #ff4b02;
	color:#FFF
}
#footer a{
	color:#FFF;
}

.box {
	width:800px;
	margin:0 auto;
}