<!doctype html>
<html lang="en">
<body>
<h1>상품 제거</h1>
<form name="deleteItemForm" id="deleteItemForm" method="post" action="/api/v1/product/removeitem">
  <table border="1" width="400">
    <tr>
      <td>상품 이름</td>
      <td><input type="text" id="itemName" name="itemName" value=""></td>
    </tr>
  </table>
</form>
<button type="button" onclick="deleteItem()">DELETE</button>
<script>
  function deleteItem() {
    var name = document.getElementById("itemName").value;

    if (name.length == 0) {
      alert("상품 이름을 입력하세요!");
    }
    else {
      document.deleteItemForm.submit();
    }
  }
</script>
</body>
<body>
