<!-- manage view -->
<div id = "manage" ng-controller = "managerCtrl">
	<h1>Manage Items Inventory</h1>
	<button class = "btn btn-default" ng-click = "logOut()">Log Out</button>
	<table class = "table">
		<thead>
			<th>Title</th>
			<th>Artist/Author</th>
			<th>Price</th>
			<th>Stock</th>
			<th>Category</th>
			<th>isTaxable</th>
			<th>Action</th>
			<th>&nbsp;</th>
		</thead>
		<tbody>
			<tr>
				<td><input type = "text" class = "form-control" ng-model="item.title"></td>
				<td><input type = "text" class = "form-control" ng-model="item.author"></td>
				<td><input type = "number" class = "form-control" ng-model="item.price"></td>
				<td><input type = "number" class = "form-control" ng-model="item.stock"></td>
				<td><input type = "text" class = "form-control" ng-model="item.category"></td>
				<td><input type='checkbox' ng-model="item.taxable"></td>
				<td><button class = "btn btn-primary" ng-click = "addItem()">Add Item</button></td>
				<td><button class = "btn btn-info" ng-click = "update()">Update</button></td>
			</tr>
			<tr ng-repeat = "item in itemlist">
				<td>{{item.title}}</td>
				<td>{{item.author}}</td>
				<td>{{item.price | currency}}</td>
				<td>{{item.stock}}</td>
				<td>{{item.category}}</td>
				<td>{{item.taxable}}</td>
				<td><button class = "btn btn-danger" ng-click = "removeItem(item._id)">Remove</button></td>
				<td><button class = "btn btn-warning" ng-click = "editItem(item._id)">Edit</button></td>
			</tr>
		</tbody>
	</table>
</div>